<section class="hero">
  <h1>Your Trusted Experts in Snow Plowing & Lawn Care</h1>
  <p>Efficient, Reliable, and Local Services for Your Property Needs.</p>
</section>

<section class="service-boxes">
  <div class="service-box snow-plowing">
    <img src="https://media.istockphoto.com/id/536778097/photo/highway-snow-plow.jpg?s=2048x2048&w=is&k=20&c=ns8LS-y1-jWpJks808sCFeeSP14oyrS-l3Su6FA2_U4=" alt="Snow Plowing">
    <div class="overlay">
      <h2>Snow Plowing Services</h2>
      <a href="/clients" class="btn">Learn More</a>
    </div>
  </div>
  <div class="service-box lawn-care">
    <img src ="https://media.istockphoto.com/id/2044312647/photo/professional-latino-man-using-a-riding-lawnmower-caring-for-a-park-with-a-landscaping-company.jpg?s=2048x2048&w=is&k=20&c=Ael-VrEpwZbobzfnGj8V7HBShBPVB81I7reWtxVcZ6o=">
    <div class="overlay">
      <h2>Lawn Care Services</h2>
      <a href="/lawn-care" class="btn">Learn More</a>
    </div>
  </div>
</section>

<section class="about-us">
  <h3>About Alex Services</h3>
  <p>We have been operating in the Iowa City area for 10 years.</p>
</section>


