<nav class="navbar">
  <!-- Logo Section -->
  <div class="navbar-logo">
    <a href="/">
      <img src="assets/logo.png" alt="Snow and Lawn Services Logo" class="logo-image" />
    </a>
  </div>

  <!-- Toggler for smaller screens -->
  <button class="navbar-toggler" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon">&#9776;</span>
  </button>

  <!-- Navigation Links -->
  <div class="navbar-links" [ngClass]="{'active': navbarOpen}">
    <a class="nav-link" routerLink="/" routerLinkActive="active-link">Home</a>
    <a class="nav-link" routerLink="/bookings" routerLinkActive="active-link">Services</a>
    <a class="nav-link" routerLink="/lawn-care" routerLinkActive="active-link">Lawn Care</a>
    <a class="nav-link" routerLink="/snow-plowing-calendar" routerLinkActive="active-link">Snow Plowing</a>
  </div>
</nav>
